<h1>Listado de productos</h1>

<ul>
    {{#each products}}
        <li>
            <strong>{{this.title}}</strong> - ${{this.price}}
        </li>
    {{/each}}
</ul>

<a href="/realtimeproducts">Ir a tiempo real</a>
